#food-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3{
  display:inline;
  padding-right : 45px;
}

.displayFood {
   position: relative;  
}
.displayFood .button{
 position : absolute;
  right :0;
  top : 0;
}
