


/*
 *
 * picnic css
 *
 */

@import '../bower_components/picnic/src/themes/default/theme';
@import '../bower_components/picnic/src/vendor/compass-breakpoint/stylesheets/breakpoint';

// Normalize.css (external library)
@import '../bower_components/picnic/src/plugins/normalize/plugin';

// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit
@import '../bower_components/picnic/src/plugins/generic/plugin';
@import '../bower_components/picnic/src/plugins/fontello/plugin';

// Simple elements
@import '../bower_components/picnic/src/plugins/label/plugin';
@import '../bower_components/picnic/src/plugins/button/plugin';

// Forms
@import '../bower_components/picnic/src/plugins/input/plugin';
@import '../bower_components/picnic/src/plugins/select/plugin';
@import '../bower_components/picnic/src/plugins/radio/plugin';
@import '../bower_components/picnic/src/plugins/checkbox/plugin';

@import '../bower_components/picnic/src/plugins/nav/plugin';
@import '../bower_components/picnic/src/plugins/tabs/plugin';
@import '../bower_components/picnic/src/plugins/tooltip/plugin';

@import '../bower_components/picnic/src/plugins/grid/plugin';
@import '../bower_components/picnic/src/plugins/card/plugin';
@import '../bower_components/picnic/src/plugins/modal/plugin';


/*
 *
 * custom css
 *
 */

@import url('https://fonts.googleapis.com/css?family=Arimo');
body
{
    font-family: 'Arimo', sans-serif;
}
.overlay
{
    max-width: none !important;
}
@import 'style.scss';
@import 'reservation.scss';
