#reservation
{
    min-height: 100vh;
   

}

#reservation-header
{
    margin-top: 80px;
}

#reservation-header ul
{
    list-style-type: none;
    padding: 0;
    margin: auto;
    font-size: 1.2em;
    
}

#reservation-content
{
    flex-grow: 1;
    flex-shrink: 1;
    width: calc(100% - 0.6em - 400px);
}

#reservation-content > section
{
    
}

#reservation-resume
{
    flex-grow: 0;
    flex-shrink: 0;
    width: 400px;
    margin-top: 50px;
}

#reservation-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#reservation-list li
{
    
}

#reservation-list .product
{
    display: inline-block;
    max-width: 85%;
}

#reservation-list .price
{
    float: right;
}
