

main
{
    /*background-image:linear-gradient(60deg, #98b5ff, #a4fef5);*/
    background-color: $background-color-main;
    min-height: 100%;
    /*
    background-image:linear-gradient(60deg, #7e96d4, #89d4cc);*/

}

/***** Button ****/
/** There is main before to not affect the navbar **/
main button, main input[type="button"],main input[type="reset"],main input[type="submit"],main .button
{
    margin-left: 7px;
    margin-right: 7px;
    min-width: 150px;
    padding: 0.45em 1em;
}

.button.mainButton, input[type="button"].mainButton, input[type="submit"].mainbutton
{
    font-size:1.5em;
    background-color: #ed485f;
    background-image: linear-gradient(90deg,#f27c36,#ed485f);
    border-radius: 50px;
    padding: in 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
}

/*** modal ***/

.modal .overlay ~ * .dangerous, .card .dangerous
{
    float: none;
}

.modal .overlay ~ * footer, .card footer
{
    text-align: center;
}


.modal > input:checked ~ .overlay ~ *
{
    width: 500px;
    max-width: 95%;
    padding: 1em;
}

.modal .overlay ~ * header
{
    position: unset;
    text-align: center;
    border: none;
}

.modal .overlay ~ * header h1, .card header h1, .modal .overlay ~ * header h2, .card header h2, .modal .overlay ~ * header h3, .card header h3, .modal .overlay ~ * header h4, .card header h4, .modal .overlay ~ * header h5, .card header h5, .modal .overlay ~ * header h6, .card header h6
{
    margin: 0;
}

.modal .overlay ~ * section, .card section
{
    text-align: justify;
}




html input[type="search"]
{
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 3px solid;
    border-radius: 0;
    width: 400px;
    background-color: transparent;
    margin: 10px 0px;
    max-width: 100%;
}

body .flex
{
    margin-left: 0;
    width: auto;
}


/*************/

h2
{
    font-size: 2em;
    font-weight: 300;
    color: cornflowerblue;
}
h3
{
    padding: 0;
}

li
{
    margin: 0.3em 0 0.3em 0;
}
.flex > *
{
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.flexible
{
    flex:1;
}

.flex-inline
{
    display: flex;
    align-items: center;
}

.flex-inline > *
{
    margin-left: 5px;
}

.label.error,.label.success
{
    font-size: 1em;
    margin: 0;
}

.label.error
{
    background-color: transparent;
    color:red;
}

html .orange
{
    background-color: orange;
}

html .blue
{
    background-color: lightskyblue;
}

html .green
{
    background-color: #49e949;
}

.info
{
    border-left: 3px solid black;
    padding: 5px;
    margin:5px 0px;
}

.top-index
{
    min-height: 500px;
    width: 100%;
    background-color:black;
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px black, 1px 0px black, 0px 1px black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-index img
{
    width: 300px;
    max-width: 50%;
}

.top-index .date
{
    font-size: 1.3em;
}

.top-container
{
    padding: 80px 0 10px 0;
}

.logo-nav
{
    height: 40px;
    border-radius: 20px;
    padding: 2px;
    background-color: black;
}
.container
{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;
}

.small-container
{
    max-width: 600px;
}



.center
{
    text-align: center;
}


.buttons-list
{
    
}

.buttons-list .button
{
    margin: 20px;
}

.logo
{
    width: 200px;
    display: block;
    margin: auto;
}

.flex > .middle
{
    align-self: center;
}

.flex > form
{
    width: 40%;
}


.white-container.error
{
    border-left: 6px solid red !important;
}

.white-container.success
{
    border-left: 6px solid green !important;
}

.white-container
{
    background-color: rgba(255,255,255,0.95);
    box-shadow:$shadow;
    padding: 10px 3% 10px 3%;
}

ul.white-container
{
    padding: 10px 30px;
}

.white-container.small-padding
{
    padding-left: 30px;
    padding-right: 30px;
}


.white-container.flat
{
    box-shadow: $flat_shadow;
    border:1px solid lightgray;
    
}

label
{
    margin: auto;
    max-width: 300px;
}

label.modern-input
{
    display: block;
    max-width: 350px;
    /*color:rgb(180,180,180);*/
    margin: 20px auto; 
    position: relative;
    text-align: left;
}
/*
label.modern-input > input
{
    
    border:none;
    border-bottom: 1px solid grey;
    background: none;
    color:black;
    border-radius: 0;
    margin-top: 10px;
    padding-left: 30px;
}

label.modern-input::before
{
    display: block;
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-size: contain;
}

label.modern-input.password::before
{
    background-image: url("/static/peytalaneApp/helium/unlock.svg");
}

label.modern-input.username::before
{
    background-image: url("/static/peytalaneApp/helium/boy.svg");
}*/



.icone
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.small,.medium,.tiny
{
    display: block;
    position: relative;
    flex-shrink: 0;
}

.small
{
    width: 100px;
    height: 100px;
}

.circle.small
{
    border-radius: 50px;
    margin: 15px;
}

.medium
{
    width: 140px;
    height: 140px;
}

.circle.medium
{
    border-radius: 70px;
    margin: 30px;
    position: relative;
}

.tiny
{
    width: 50px;
    height: 50px;
}

.medium .icone
{
    height: 90px;
    width: 90px;
}

.small .icone
{
    height: 50px;
    width: 50px;
}

.tiny .icone
{
    height: 30px;
    width: 30px;
}



.medium .icone, .small .icone,.tiny .icone
{
   
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

.square-320
{
    width: 320px;
    height: 320px;
    flex-grow: 0;
    margin-top: 20px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-image:linear-gradient(60deg, #98b5ff, #a4fef5);
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 20px;
    box-shadow: $flat_shadow;
    border:1px solid lightgray;
    
}
.square-320:hover
{
    opacity: 0.8;
}



.square-320 .icone
{
    flex:1;
    background-size: cover;
}

.square-320 .title
{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid gray;
    font-weight: 800;
    background-color: white;
    flex:0;
    padding-bottom: 10px;
}

.tournoi-check:checked + label
{
    border:5px solid lightgreen;

}

@media screen and (max-width: 800px)
{
    .flex-800
    {
        display: block !important;
    }

    .flex-800 > *
    {
        width: auto !important;
    }
}

@media screen and (max-width: 450px)
{
    .flex-450
    {
        display: block !important;
    }

    .flex-450 > *
    {
        width: auto !important;
    }
}
