.top-container
{
    padding: 80px 0 10px 0;
    min-height: 500px;
    width: 100%;
    background-image: url("/static/peytalaneApp/img/lune.jpg");
    background-size: cover;
    color: white;
    background-position: center center;
    text-shadow: 1px 1px 1px black, -1px -1px black, 1px 0px black, 0px 1px black;
    font-weight: 800;
}

.top-container .date
{
    font-size: 1.3em;
}

.logo-nav
{
    height: 40px;
    border-radius: 20px;
    padding: 2px;
    background-color: black;
}
.container
{
    margin: 0 auto;
    width: 90%;
}

.center
{
    text-align: center;
}

.mainButton
{
    font-size:1.5em;
}

.logo
{
    width: 200px;
    display: block;
    margin: auto;
}

