li
{
    margin: 0.3em 0 0.3em 0;
}
.flex > *
{
    padding-right: 0.3em;
    padding-left: 0.3em;
}


.flex
{
    
}


.top-index
{
    min-height: 500px;
    width: 100%;
    background-image: url("/static/peytalaneApp/img/lune.jpg");
    background-size: cover;
    color: white;
    background-position: center center;
    text-shadow: 1px 1px 1px black, -1px -1px black, 1px 0px black, 0px 1px black;
    font-weight: 800;
}

.top-index .date
{
    font-size: 1.3em;
}

.top-container
{
    padding: 80px 0 10px 0;
}

.logo-nav
{
    height: 40px;
    border-radius: 20px;
    padding: 2px;
    background-color: black;
}
.container
{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;
}

.center
{
    text-align: center;
}

.mainButton
{
    font-size:1.5em;
}


.logo
{
    width: 200px;
    display: block;
    margin: auto;
}

.flex > .middle
{
    align-self: center;
}

.flex > form
{
    width: 40%;
}

.white-container
{
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0 0.2em rgba(17,17,17,0.2);
    padding: 10px 3% 10px 3%;
}

label
{
    margin: auto;
    max-width: 300px;
}

.square-320
{
    width: 320px;
    height: 320px;
    margin: auto;
    flex-grow: 0;
    margin-top: 20px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-image:linear-gradient(60deg, #98b5ff, #a4fef5);
    
}
.square-320:hover
{
    opacity: 0.8;
}


.square-320 .icone
{
    width: 250px;    
}

.square-320 .title
{
    width: 100%;
    padding-top: 13px;
    border-top: 1px solid gray;
    font-weight: 800;
    height: 51px;
    background-color: white;
}

@media screen and (max-width: 800px)
{
    .flex-800
    {
        display: block !important;
    }

    .flex-800 > *
    {
        width: auto !important;
    }
}

@media screen and (max-width: 450px)
{
    .flex-450
    {
        display: block !important;
    }

    .flex-450 > *
    {
        width: auto !important;
    }
}
