main
{
    /*background-image:linear-gradient(60deg, #98b5ff, #a4fef5);*/
    background-color: rgb(250,250,250);
    min-height: 100vh;
    /*
    background-image:linear-gradient(60deg, #7e96d4, #89d4cc);*/

}


button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    margin-left: 7px;
    margin-right: 7px;
}

html input[type="search"]
{
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 3px solid;
    border-radius: 0;
    width: 400px;
    background-color: transparent;
    margin: 10px;
}

.modal > input:checked ~ .overlay ~ *
{
    min-width: 400px;
}

h3
{
    padding: 0;
}

li
{
    margin: 0.3em 0 0.3em 0;
}
.flex > *
{
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.flexible
{
    flex:1;
}

.flex-inline
{
    display: flex;
    align-items: center;
}

.flex-inline > *
{
    margin-left: 5px;
}

.label.error,.label.success
{
    font-size: 1em;
}

html .orange
{
    background-color: orange;
}

html .blue
{
    background-color: lightskyblue;
}

html .green
{
    background-color: limegreen;
}

.info
{
    border-left: 3px solid black;
    padding: 5px;
    margin:5px 0px;
}

.top-index
{
    min-height: 500px;
    width: 100%;
    background-color:black;
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px black, 1px 0px black, 0px 1px black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-index img
{
    width: 300px;
}

.top-index .date
{
    font-size: 1.3em;
}

.top-container
{
    padding: 80px 0 10px 0;
}

.logo-nav
{
    height: 40px;
    border-radius: 20px;
    padding: 2px;
    background-color: black;
}
.container
{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;
}

.small-container
{
    max-width: 600px;
}



.center
{
    text-align: center;
}

.mainButton
{
    font-size:1.5em;
}


.buttons-list
{
    
}

.buttons-list .button
{
    margin: 20px;
}

.logo
{
    width: 200px;
    display: block;
    margin: auto;
}

.flex > .middle
{
    align-self: center;
}

.flex > form
{
    width: 40%;
}


.white-container.error
{
    border-left: 6px solid red !important;
}

.white-container.success
{
    border-left: 6px solid green !important;
}

.white-container
{
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0 0.2em rgba(17,17,17,0.2);
    padding: 10px 3% 10px 3%;
}

.white-container.small-padding
{
    padding-left: 30px;
    padding-right: 30px;
}


.white-container.flat
{
    box-shadow: 4px 5px 30px 0 rgba(67,57,72,.1);
    border:1px solid lightgray;
    
}

label
{
    margin: auto;
    max-width: 300px;
}

.icone
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.small,.medium,.tiny
{
    display: block;
    position: relative;
    flex-shrink: 0;
}

.small
{
    width: 100px;
    height: 100px;
}

.circle.small
{
    border-radius: 50px;
    margin: 15px;
}

.medium
{
    width: 140px;
    height: 140px;
}

.circle.medium
{
    border-radius: 70px;
    margin: 30px;
    position: relative;
}

.tiny
{
    width: 50px;
    height: 50px;
}

.medium .icone
{
    height: 90px;
    width: 90px;
}

.small .icone
{
    height: 50px;
    width: 50px;
}

.tiny .icone
{
    height: 30px;
    width: 30px;
}



.medium .icone, .small .icone,.tiny .icone
{
   
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

.square-320
{
    width: 320px;
    height: 320px;
    margin: auto;
    flex-grow: 0;
    margin-top: 20px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-image:linear-gradient(60deg, #98b5ff, #a4fef5);
    
}
.square-320:hover
{
    opacity: 0.8;
}


.square-320 .icone
{
    height: 257px; 
}

.square-320 .title
{
    width: 100%;
    padding-top: 13px;
    border-top: 1px solid gray;
    font-weight: 800;
    height: 50px;
    background-color: white;
}

@media screen and (max-width: 800px)
{
    .flex-800
    {
        display: block !important;
    }

    .flex-800 > *
    {
        width: auto !important;
    }
}

@media screen and (max-width: 450px)
{
    .flex-450
    {
        display: block !important;
    }

    .flex-450 > *
    {
        width: auto !important;
    }
}
