{% extends 'peytalaneApp/admin/layout.html' %}

{% block admin-content %}
{% load payment_tag %}

<script type="text/javascript" language="javascript" src="/static/peytalaneApp/HTML-Table-Filter/TableFilter/tablefilter.js"></script>  

<div class="center">
    <a class="button" href="/reservation/admin/food.csv" style="margin-top:25px">Exporter la liste des pizzas</a>
</div>

<h2 class="center">Liste des achats effectués</h2>

<div class="center">
    <table width="600px" cellspacing="0" cellpadding="0" id="table-admin" class="white-container flat">
        <thead>
            <tr class="title">
                <th class="first">Livré</th>
                <th >Produit</th>
                <th>Utilisateur</th>
                <th>Prix</th>
                {% for option in list_options %}
                <th>{{ option.name }}</th>
                {% endfor %}
                <th>Commentaire</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in list_food%}
        <tr>
            <td>
                <div class="checkboxFour">
                    <input type="checkbox" class="permission" value="1"
                        id="{{payment.id}}_delivered"
                        {% if payment.delivered %}
                            checked
                        {% endif %}
                        onchange="set_payment_delivered(this,'{{payment.id}}')"
                        />
                    <label for="{{payment.id}}_delivered"></label>
                </div>
            </td>
            <td>{{ payment.product }}</td>
            <td>{{ payment.user.username }}</td>
            <td>{{ payment.price }}</td>
                {% for option in list_options %}
                    
                <td> {{ payment|get_value_option:option }}</td>
                {%endfor%}
            <td>{{ payment.comment }}</td>
        </tr>
            {% endfor %}
        
    </tbody>
    </table>
</div>

<script language="javascript" type="text/javascript">
    var tfConfig = { 
        base_path: '/static/peytalaneApp/HTML-Table-Filter/TableFilter/',
        sort: 'true',
        extensions: {
            name:['ColumnsResizer'],
            src:['/static/peytalaneApp/HTML-Table-Filter/TableFilter/TFExt_ColsResizer/TFExt_ColsResizer.js'],
            description:['Columns Resizing'],
            initialize:[function(o){o.SetColsResizer();}]
        },
        stylesheet:'plouf',
        col_resizer_all_cells: true,
        filters_row_index:1,
        col_width: ["130px","170px","170px","100px","170px"
        {% for option_name in list_options %}
                ,"170px"
        {% endfor %}
        ]
    }
    var tf = setFilterGrid("table-admin",tfConfig);  
</script>
{% endblock %}