{% extends 'peytalaneApp/layout.html' %}
{% block content %}
<!-- top page with background and date-->
<div class="center top-container top-index">
    <h1>Rejoins la prochaine LAN Air-eisti</h1>
    <p class="date">Le 9 février 2018</p>
</div>

<!-- middle page with infos-->
<div class="flex container">
    <div>
        <h2 class="center">Choisis ton tournoi</h2>
        <img class="logo" src="/static/peytalaneApp/img/logo-lol.png">
        <img class="logo" src="/static/peytalaneApp/img/logo-fifa.jpg">
    </div>
    <div>
        <h2 class="center">Commande à manger</h2>
        <img class="logo" src="/static/peytalaneApp/img/logo-pizza1.png">
    </div>
</div>
<!-- bottom button -->
<div class="center container">
    <a href="/inscription/" class="button mainButton">Je participe</a>
</div>

{% endblock %}