{% extends 'peytalaneApp/layout.html' %}
{% block content %}
<!-- top page with background and date-->
<div class="top-container top-index">
    
    <h1>Rejoins la prochaine LAN Air-eisti</h1>
    <img src="/static/peytalaneApp/img/lune-mini-300.png"/>
    
</div>

<!-- middle page with infos-->
<div class="container flex-inline" style="justify-content: space-around">
    <div class="center">
        <div class="circle medium white-container flat">
            <div class="icone" style="background-image:url('/static/peytalaneApp/helium/compass.svg')"></div>
        </div>
        <h2 class="center">Inscris toi à la LAN</h2>
    </div>
    <div class="center">
        <div class="circle medium white-container flat">
            <div class="icone" style="background-image:url('/static/peytalaneApp/helium/mouse.svg')"></div>
        </div>
        <h2 class="center">Choisis ton tournoi</h2>
    </div>
    <div class="center">
        <div class="circle medium white-container flat">
            <div class="icone" style="background-image:url('/static/peytalaneApp/helium/pizza.svg')"></div>
        </div>
        <h2 class="center">Commande à manger</h2>
    </div>
</div>
<!-- bottom button -->
<div class="center container">
    <a href="/login/" class="button mainButton">Participer</a>
</div>

<style>
    .circle.medium
    {
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}