{% extends 'peytalaneApp/layout.html' %}
{% block content %}
<div class="center top-container">
    <h1>Rejoins la prochaine LAN Air-eisti</h1>
    <p class="date">Le 9 février 2018</p>
</div><div class="flex container">
    <div class="flex-element">
    <h2 class="center">Choisis ton tournoi</h2>
    <img class="logo" src="/static/peytalaneApp/img/logo-lol.png">
    <img class="logo" src="/static/peytalaneApp/img/logo-fifa.jpg">
    </div>
    <div class="flex-element">
        <h2 class="center">Commande à manger</h2>
        <img class="logo" src="/static/peytalaneApp/img/logo-pizza1.png">
    </div>
</div>
<div class="center container">
    <a href="#" class="button mainButton">Je participe</a>
</div>
{% endblock %}