{% extends 'peytalaneApp/layout.html' %}
{% block content %}

<div class="center top-container">
    {% if error %}
    <div class="center label error">

        <strong>{{ error }}</strong>
    </div>
    {% endif %}
</div>


<div class="container flex flex-800">
    <form method="POST" action="/inscription/" class="white-container">
        {% csrf_token %}
        <h2 class="center">Inscription EISTI</h2>
        <fieldset class="flex one">
            <label>Nom d'utilisateur AREL:{{ formEisti.username }}</label>
        </fieldset>
        <fieldset class="flex one">
            <label>Mot de passe:{{ formEisti.password }}</label>
        </fieldset>
        
        <div class="center">
            <input type="submit" value="Connection LDAP" class="center"/>
        </div>
    </form>

    <div class="middle center ou">
        Ou
    </div>
    
    <form class="white-container" action="/inscription/" method="POST">
        {% csrf_token %}
        <h2 class="center">Inscription exterieur</h2>
        <fieldset class="flex two flex-450">
            <label>Nom:{{ form.lastName }}</label>
            <label>Prenom:{{ form.firstName }}</label>
        </fieldset>
        <fieldset class="flex two flex-450">
            <label>Mot de passe:{{ form.password }}</label>
            <label>Confirmation mot de passe:{{ form.passwordConfirm }}</label>
        </fieldset>
        <fieldset class="flex flex-450">
            <label>Mail:{{ form.mail }}</label>
        </fieldset>
        <div class="center">
            <input type="submit" value="S'inscrire" class="center"/>
        </div>
    </form>
</div>

<style>
    main
    {
        background-image: url("/static/peytalaneApp/img/lan3-flou.jpg");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        overflow-y: scroll;
    }
    .ou
    {
        text-shadow: 1px 1px 1px black, -1px -1px black, 1px 0px black, 0px 1px black;
        color:white;
        font-weight: 800;
        font-size: 1.2em;
    }

    h2
    {
        font-size: 2em;
        font-weight: 300;
    }
</style>
{% endblock %}