{% extends 'peytalaneApp/layout.html' %}
{% block content %}
<!-- middle page with infos-->
<div class="top-container container flex flex-800">
    <form>
        <h2 class="center">Inscription exterieur</h2>
        <fieldset class="flex two flex-450">
            <label>Nom:<input type="text" placeholder="Nom"></label>
            <label>Prenom:<input type="text" placeholder="Prenom"></label>
        </fieldset>
        <fieldset class="flex two flex-450">
            <label>Mail:<input type="mail" placeholder="Mail"></label>
            <label>Pseudo:<input type="text" placeholder="Pseudo"></label>
        </fieldset>
        <fieldset class="flex two flex-450">
            <label>Mot de passe:<input type="password" placeholder="Mot de passe"></label>
            <label>Confirmation mot de passe:<input type="password" placeholder="Confirmation mot de passe"></label>
        </fieldset>
        <div class="center">
            <input type="submit" value="S'inscrire" class="center"/>
        </div>
    </form>
    <div class="middle center">
        Ou
    </div>
    <form>
        <h2 class="center">Inscription EISTI</h2>
        <fieldset class="flex one">
        <label>Nom d'utilisateur AREL:<input type="text" placeholder="Utilisateur"></label>
        <label>Mot de passe:<input type="password" placeholder="Mot de passe"></label>
    </fieldset>
        <div class="center">
        <input type="submit" value="Connection LDAP" class="center"/>
        </div>
    </form>
</div>
{% endblock %}