<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/peytalaneApp/style.min.css" />
    	<meta name="viewport" content="width=device-width,initial-scale=1">
        <title></title>
    </head>
    <body>
        <nav class="demo">
            <a href="/" class="brand">
                <span><img src="/static/peytalaneApp/img/logo.jpg" class="logo-nav"/> Peytalane</span>
            </a>
        
            <!-- responsive-->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">&#8801;</label>
        
            <div class="menu">
                <a href="/login/" class="button icon-puzzle">Login</a>
            </div>
        </nav>
        <main>
        {% block content %}
            
        {% endblock %}
        </main>
    </body>
</html>