{% extends 'peytalaneApp/layout.html' %}
{% block content %}
<div class="flex-inline center top-container container">
    <section class=" center white-container">

        
        <h2>Identifiants AirEISTI</h2>
        {% if error %}
        <div class="center label error">
            <strong>{{ error }}</strong>
        </div>

        <style>
            label > input
            {
                border-color: red;
            }
        </style>
        {% endif %}
        {% if info %}
        <div class="center label success">
    
            <strong>Inscrit ! Ton pseudo est darbouxtom{{ info }}</strong>
        </div>
        {% endif %}
        <form method="POST" action="/login/">
            {% csrf_token %}
                <label class="modern-input username">UTILISATEUR:{{ form.username }}</label>
                <label class="modern-input password">MOT DE PASSE:{{ form.password }}</label>
                <input type="submit" class="success" value="Se connecter" class="center"/>

        </form>
        <h3>Nouveau chez AirEISTI ?</h3>
        <a href="/inscription" class="button">S'inscrire</a>
    </section>
</div>
<style>
    section
    {
    }
     
    h3
    {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    h2
    {
        font-size: 2em;
        font-weight: 300;
        color: cornflowerblue;
    }

    .button
    {
        
    }

    main
    {
        background-image: url("/static/peytalaneApp/img/lan3-flou.jpg");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        overflow-y: scroll;
    }
</style>
{% endblock %}