{% extends 'peytalaneApp/layout.html' %}
{% block content %}
<div class="center top-container">
        {% if error %}
        <div class="center label error">
    
            <strong>{{ error }}</strong>
        </div>
        {% endif %}
        {% if info %}
        <div class="center label success">
    
            <strong>{{ info }}</strong>
        </div>
        {% endif %}
</div>
<div class="container flex flex-800">
    <form method="POST" action="/login/" class="white-container">
        {% csrf_token %}
        <h2 class="center">Login AirEISTI</h2>
        <fieldset class="flex one">
            <label>Utilisateur:{{ form.username }}</label>
        </fieldset>
        <fieldset class="flex one">
            <label>Mot de passe:{{ form.password }}</label>
        </fieldset>
        <div class="center">
            <input type="submit" class="success" value="Se connecter" class="center"/>
            <a href="/inscription/" type="submit" class="error" class="center">Je n'ai pas de compte</a>
            <!-- <a href="/reservation" class="button" class="center">Se connecter</a> -->
        </div>
    </form>
</div>
<style>
    main
    {
        background-image: url("/static/peytalaneApp/img/lan3-flou.jpg");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        overflow-y: scroll;
    }
</style>
{% endblock %}