{% extends 'peytalaneApp/layout.html' %}
{%block content%}
<!--
<form method="POST" action="/pay/create-account" id="form-pay" class="top-container">
-->
<div class="top-container">

<div class="facture white-container">
  <h2>Récapilulatif du payement</h2>
  <ul>
  {% for key, transaction in transactions_list.items %}
  <li class="flat flex-inline">
      <div class="flexible">{{ transaction.product }}</div>
      <div class="price">{{ transaction.price }} € </div>
  </li>
  {% endfor %}
</ul>
<!--
  <div class="total">Total : {{total}} €</div>
    <h2>Formulaire de payement</h2>
    <input type="hidden" name="token" id="token">
    <label>
      <span>First Name</span>
      <input class="inp-first-name" name="first_name">
    </label>
    <label>
      <span>Last Name</span>
      <input class="inp-last-name" name="last_name">
    </label>
    <fieldset>
      <legend><h3>Address:</h3></legend>
      <label>
        <span>Street Address Line 1</span>
        <input class="inp-street-address1" name="street_address1">
      </label>
      <label>
        <span>City</span>
        <input class="inp-city" name="city">
      </label>
      <label>
        <span>State</span>
        <input class="inp-state" name="state">
      </label>
      <label>
        <span>Postal Code</span>
        <input class="inp-zip" name="zip">
      </label>
    </fieldset>
    <input type="submit" value="envoyer">
  </form>
-->

<form action="/pay/" method="POST">
    {% csrf_token %}

    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{key}}"
        data-amount="{{total_cent}}"
        data-name="Peytalan"
        data-description="Example charge"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="eur">
    </script>
</form>

<p>En cliquant sur ce bouton, vous acceptez <a href="#">le reglement de la LAN</a> </p>

</div>


</div>

<!--
<script src="https://js.stripe.com/v3/"></script>
<script>

  const stripe = Stripe('pk_live_3G9J3CjMlPaV46s141qP7wRg');
  const myForm = document.querySelector('#form-pay');
  myForm.addEventListener('submit', handleForm);

  async function handleForm(event) {
  event.preventDefault();

    const result = await stripe.createToken('account', {
        legal_entity: {
        first_name: document.querySelector('.inp-first-name').value,
        last_name: document.querySelector('.inp-last-name').value,
        address: {
            line1: document.querySelector('.inp-street-address1').value,
            city: document.querySelector('.inp-city').value,
            state: document.querySelector('.inp-state').value,
            postal_code: document.querySelector('.inp-zip').value,
        },
        },
        tos_shown_and_accepted: true,
    });

    if (result.token) {
        document.querySelector('#token').value = result.token.id;
        myForm.submit();
    }
  }



</script>
-->

<style>
  .facture{
    margin: auto;
    width: 50%;
  }

  .total{
    text-align: right;
    padding-right: 3px;
  }

  #phone{
    text-align: center;
    width: 25%;
    margin: auto;
  }

  .price
  {
    vertical-align: top;
  }
  
  li{
    list-style-type:circle !important;
  }
  /*
  
  .product{
    text-align:left;

    position:absolute;
  }
  .price{
    text-align: right;
  }
  #phone{
    text-align: center;
    width: 25%;
    margin: auto;
  }*/
</style>
{%endblock%}
