{% extends 'peytalaneApp/layout.html' %}
{%block content%}
<!--
<form method="POST" action="/pay/create-account" id="form-pay" class="top-container">
-->
<div class="top-container">

{% if error %}
  <div class="modal">
      <input id="payment_ok" type="checkbox" checked/>
      <label for="payment_ok" class="overlay"></label>
      <article>
      <header>
          <h3>Erreur, le payement n'a pas été effectué</h3>
          <label for="payment_ok" class="close">&times;</label>
      </header>
      <section class="content">
          {{error}}
      </section>
      <footer>
              <label for="payment_ok" class="button">Ok</label>
      </footer>
      </article>
  </div>
  {% endif %}




  
<div class="facture white-container">
  <h2>Récapilulatif du payement</h2>
  <ul>
    {% for key, transaction in transactions_list.items %}
      <li class="white-container flat flex-inline">
          <div onclick="delete_transaction(this,{{key}})" class="tiny"><img class="icone" src="/static/peytalaneApp/helium/trash.svg"/></div>
          <div class="product flexible">
              <h3>{{ transaction.product }}</h3>
              <ul>
                  {% for option,value_option in transaction.args.options.items %}
                  <li>{{option}} : {{value_option.1 }}</li>
                  {% endfor %}
                  {% if transaction.comment %}
                  <div class="white-container">
                          {{transaction.comment}}
                  </div>
                  {%endif%}
              </ul>
          </div>
          <div class="price">{{ transaction.price }} € </div>
      </li>
    {% endfor %}
  </ul>

{% if total %}

<form action="/pay/" method="POST">
    {% csrf_token %}

    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{key}}"
        data-amount="{{total_cent}}"
        data-name="Peytalan"
        data-description="Example charge"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="eur">
    </script>
</form>

<p>En cliquant sur ce bouton, vous acceptez <a href="#">le reglement de la LAN</a> </p>

</div>

{% else %}
  <div>Rien à payer</div>
  <div class="center">
    <a href="/reservation" class="button">Retourner aux achats</a>
  </div>
{% endif %}
</div>

<!--
<script src="https://js.stripe.com/v3/"></script>
<script>

  const stripe = Stripe('pk_live_3G9J3CjMlPaV46s141qP7wRg');
  const myForm = document.querySelector('#form-pay');
  myForm.addEventListener('submit', handleForm);

  async function handleForm(event) {
  event.preventDefault();

    const result = await stripe.createToken('account', {
        legal_entity: {
        first_name: document.querySelector('.inp-first-name').value,
        last_name: document.querySelector('.inp-last-name').value,
        address: {
            line1: document.querySelector('.inp-street-address1').value,
            city: document.querySelector('.inp-city').value,
            state: document.querySelector('.inp-state').value,
            postal_code: document.querySelector('.inp-zip').value,
        },
        },
        tos_shown_and_accepted: true,
    });

    if (result.token) {
        document.querySelector('#token').value = result.token.id;
        myForm.submit();
    }
  }



</script>
-->

<style>
  .facture{
    margin: auto;
    width: 50%;
  }

  .total{
    text-align: right;
    padding-right: 3px;
  }

  #phone{
    text-align: center;
    width: 25%;
    margin: auto;
  }

  .price
  {
    vertical-align: top;
  }
  
  li{
    list-style-type:circle !important;
  }
  /*
  
  .product{
    text-align:left;

    position:absolute;
  }
  .price{
    text-align: right;
  }
  #phone{
    text-align: center;
    width: 25%;
    margin: auto;
  }*/
</style>
{%endblock%}
