{% extends 'peytalaneApp/reservation-layout.html' %}
{% block reservation-content %}
<h2>Possibilités:</h2>
<div class="flex">
    
    <a href="/reservation/tournoi/" class="white-container square-320 center">
        <img  class="icone" src="/static/peytalaneApp/helium/mouse.svg"/>
        <div class="title">Choisir son tournoi</div>
    </a>
    <a href="/reservation/food/" class="white-container square-320 center">
        <img class="icone" src="/static/peytalaneApp/helium/pizza.svg"/>            
        <div class="title">Choisir à manger</div>
    </a>
</div>
{%endblock%}