{% extends 'peytalaneApp/layout.html' %}
{% block content %}
    {% if ok_payment %}
    <div class="modal">
        <input id="payment_ok" type="checkbox" checked/>
        <label for="payment_ok" class="overlay"></label>
        <article>
        <header>
            <h3>Payement effectué</h3>
            <label for="payment_ok" class="close">&times;</label>
        </header>
        <section class="content">
            Le payement a bien été effectué
        </section>
        <footer>
                <label for="payment_ok" class="button">Ok</label>
        </footer>
        </article>
    </div>
    {% endif %}
    <div class="flex" id="reservation">
        <section id="reservation-content">
            <header class="container" id="reservation-header">
                <h2>Résumé:</h2>
                <ul id="resume">
                    <!-- mettre un web component quand ce sera supporté par tous les navigateurs du monde (plutot que de faire un copié collé)-->
                    
                    <a href="/reservation/tournament">
                    <li class="flex-inline resume-line white-container  
                        {% if lan_is_reserved %}
                            success
                        {% else %}
                            error
                        {% endif %}">
                        <div class="center">
                            <div class="circle small white-container orange">
                                <div class="icone" style="background-image:url('/static/peytalaneApp/helium/compass.svg')"></div>
                            </div>
                        </div>
                        <div class="flexible">
                            <h3>LAN</h3>
                            {% if lan_is_reserved %}
                                <div>Lan payée !</div>
                            {% else %}
                                <div>Reserver la lan.</div>
                            {% endif %}
                        </div>
                    </li>
                    </a>
                    <!--
                    <a href="/reservation/tournament">
                    <li class="flex-inline resume-line white-container 
                        {% if have_tournament %}
                            success
                        {% else %}
                            error
                        {% endif %}">
                        <div class="center">
                            <div class="circle small white-container flat blue">
                                <div class="icone" style="background-image:url('/static/peytalaneApp/helium/mouse.svg')"></div>
                            </div>
                        </div>
                        <div class="flexible">
                            <h3>Tournoi</h3>
                            {% if have_tournament %}

                                <div class="flexible">

                                    <ul id="food-reservation-resume">
                                        {% for tournament in have_tournament %}
                                            <li>{{tournament.product}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="flexible">Inscrit sur aucun tournoi</div>
                            {% endif %}
                        </div>
                    </li>
                    </a>-->
                    <a href="/reservation/food">
                    <li class="flex-inline resume-line white-container 
                        {% if have_foods %}
                            success
                        {% else %}
                            error
                        {% endif %}">
                        <div class="center">
                            <div class="circle small white-container green">
                                <div class="icone" style="background-image:url('/static/peytalaneApp/helium/pizza.svg')"></div>
                            </div>
                        </div>
                        <div class="flexible">
                            <h3>Nourriture</h3>
                            {% if have_foods %}

                                <div class="flexible">

                                    <ul id="food-reservation-resume">
                                        {% for food in have_foods %}
                                            <li>{{food.product}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="flexible">Pas de repas</div>
                            {% endif %}
                        </div>
                    </li>
                    </a>
                </ul>
       
            </header>
            <section class="container">
                {% block reservation-content %}

                {% endblock %}
            </section>
        </section>
        <aside id="reservation-resume" class="white-container small-padding">
            <div>
            <h2>Transactions en cours:</h2>
            <ul id="reservation-list">
                {% for key, transaction in transactions_list.items %}
                    <li class="white-container flat flex-inline">
                        <div onclick="delete_transaction(this,{{key}})" class="tiny"><img class="icone" src="/static/peytalaneApp/helium/trash.svg"/></div>
                        <div class="product flexible">
                            <h3>{{ transaction.product }}</h3>
                            <ul>
                                {% for option,value_option in transaction.args.options.items %}
                                <li>{{option}} : {{value_option.1 }}</li>
                                {% endfor %}
                                {% if transaction.comment %}
                                <div class="white-container">
                                        {{transaction.comment}}
                                </div>
                                {%endif%}
                            </ul>
                        </div>
                        <div class="price">{{ transaction.price }} € </div>
                    </li>
                {% endfor %}
            </ul>

            </div>
            <div class="center">
            <a href="/pay/" class="button mainButton">Payer</a>
            </div>
        </aside>
    </div>
    
    <style>

        #food-reservation-resume
        {
            list-style-type:circle !important;
            font-size: 1em !important;
        }

        #reservation-content a > .white-container:hover
        {
            background-color:rgba(50,50,50,0.1);
        }

        #food-reservation-resume li
        {
            margin: 0 20px;
        }

        #reservation-content a > .white-container
        {
            margin-bottom: 15px;
        }
        #reservation-content a
        {
            color:black;
        }
        
        body
        {
            /*background-image: url("/static/peytalaneApp/img/background-flou.jpg");*/
            height: 100vh;
            overflow-y: scroll;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }

        main
        {
            /*background-color: rgba(255, 255, 255, 0.90)*/
        }
    </style>
{% endblock %}
