{% extends 'peytalaneApp/layout.html' %}
{% block content %}
    <div class="flex" id="reservation">
        <section id="reservation-content">
            <header class="container" id="reservation-header">
                <h2>Résumé:</h2>
                <ul>
                    <li class="white-container">Lan non payé !</li>
                    <li class="white-container">Pas de repas</li>
                </ul>
            </header>
            <section class="container">
                {% block reservation-content %}
            
                {% endblock %}
            </section>
        </section>
        <aside id="reservation-resume" class="white-container">
            <div>
		<h2>Transaction en cours:</h2>
		<ul id="reservation-list">
                    {% for transaction in transactions_list %}
                    <li>
                        <div class="product">{{ transaction.product }}</div>
                        <div class="price">{{ transaction.price }} € </div>
                    </li>
                {% endfor %}
            </ul>
                
            </div>
            <div class="center">
            <a href="#" class="button mainButton">Payer</a>
            </div>
        </aside>
    </div>
    <style>
        main
        {
            /*background-image:linear-gradient(60deg, #98b5ff, #a4fef5);*/
            background-color: rgb(240,240,240);
            /*
            background-image:linear-gradient(60deg, #7e96d4, #89d4cc);*/

        }
    </style>
{% endblock %}
